* {
  box-sizing: border-box;
}

.clearfix:after{
  display:block;visibility:hidden;clear:both;height:0;content:" ";font-size:0
}

* html .clearfix{
  -ms-zoom:1;zoom:1
}

*:first-child+html .clearfix{
  -ms-zoom:1;zoom:1
}

body {
  background-color: #FFFFFF;
  border-top: 20px solid $colour-red;
  font-size: 12pt;
  line-height: 15pt;
}

.body--main {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}

.header--main {
  margin: 175px 0;
}

.title--main {
  @extend .clearfix;
  margin-bottom: 145px;

  img {
    float: left;
    margin-right: 60px;
  }

  .headingWrapper {
    overflow: hidden;
  }

  h1 {
    color: $colour-mainTitle;
    font-size: 75px;
    line-height: 1.2em;
    font-weight: bold;
    display: inline-block;
  }

}

.subtitle--main {
  text-align: center;

  h4 {
    margin-bottom: 30px;
    color: #999999;
  }

  img {
    max-width: 400px;
  }

}

.intro {
  @extend %font--heading;
  color: #555555;
  font-size: 34px;
  line-height: 1.3em;

  p {
    margin: 30px 0;
  }

}

.explanation {
  margin-top: 125px;
  font-size: 18px;

  p {
    margin: 30px 0;
  }

}

.guidelines {
  margin: 125px 0;
  padding: 60px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}