
@font-face {
  font-family: 'Muli';
  src:  url('../fonts/Muli.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src:  url('../fonts/Muli-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src:  url('../fonts/Muli-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

%font--heading {
  font-family: "Muli", Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  color: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font--heading;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}